---
import Layout from "../layout/Layout.astro";
import SideNavbar from "../components/ui/SideNavbar.astro";
import Navbar from "../components/ui/Navbar.astro";
---

<Layout title="Docs">
  <Navbar />
  <section class="grid grid-cols-3 w-full gap-4 h-screen">
    <SideNavbar class="col-span-1 bg-gray-100 p-4" />
    <article class="col-span-2 mt-32 w-[800px]">
      <div class="container mx-auto px-8">
        <h1 class="text-4xl font-bold mb-4">Welcome to Minamell!</h1>
        <p class="text-lg mb-6">
          Hello! <strong>Minamell</strong> is a PHP framework based on the MVC (Model
          View Controller) design pattern.
        </p>
        <section>
          <h2 class="text-2xl font-bold mb-2">Creating a Minamell Project</h2>
          <p class="text-lg mb-4">
            To create a project, make sure you have Composer installed. After
            that, run this command in your terminal:
          </p>
          <pre
            class="p-4 rounded mb-4"><code>composer create-project raivokinne/minamell:1.x-dev example-project</code></pre>
          <p class="text-lg mb-4">
            After that, you can cd into your project and run it using:
          </p>
          <pre
            class="p-4 rounded mb-4"><code>composer install composer start</code></pre>
          <p class="text-lg mb-4">
            For more info, check out the Composer packages and Docs.
          </p>
        </section>
        <section>
          <h2 class="text-2xl font-bold mb-2">Why Minamell?</h2>
          <p class="text-lg mb-4">
            There are a variety of tools and frameworks available for building
            web applications. However, we believe Minamell is the best choice
            for building modern, full-stack web applications.
          </p>
        </section>
        <section>
          <h2 class="text-2xl font-bold mb-2">Next Steps</h2>
          <p class="text-lg mb-4">
            Now that you have installed Minamell and created your first project,
            you can start building your application. Check out the other
            sections of this documentation for more detailed information on how
            to use Minamell.
          </p>
        </section>
      </div>
    </article>
  </section>
</Layout>
