<section class="flex justify-center items-center h-screen w-ful">
  <article class="flex flex-col gap-4 text-center items-center">
    <div class="flex flex-col gap-4">
      <h1 class="text-8xl font-bold">Minamell</h1>
      <p class="text-7xl">Minimalistic Web Framework</p>
    </div>
    <p>
      Minamell is a web application framework with minimalistic features and no
      dependencies.<br /> It's Made for people who love simplicity.
    </p>
    <a
      href="/docs"
      class="bg-black text-white px-4 py-2 duration-300 font-bold hover:bg-white border-black border-2 hover:text-black w-[200px]"
      >Get Started</a
    >
  </article>
</section>
