<nav class="grid place-items-center h-screen">
  <div class="flex flex-col gap-4">
    <header class="p-4">
      <h1 class="text-2xl font-bold">Framework Docs</h1>
      <p class="mt-2 text-sm">Version 1.0</p>
    </header>

    <ul class="p-2 h-[500px]">
      <li>
        <a href="#" class="block py-2 px-4 text-sm">Getting Started</a>
      </li>
      <li>
        <a href="#file-structure" class="block py-2 px-4 text-sm"
          >File Structure</a
        >
      </li>
      <li>
        <a href="#configuration" class="block py-2 px-4 text-sm"
          >Configuration</a
        >
      </li>
      <li>
        <a href="#routing" class="block py-2 px-4 text-sm">Routing</a>
      </li>
      <li>
        <a href="#database-connection" class="block py-2 px-4 text-sm"
          >Database Connection</a
        >
      </li>
      <li>
        <a href="#controllers" class="block py-2 px-4 text-sm">Controllers</a>
      </li>
      <li>
        <a href="#views" class="block py-2 px-4 text-sm">Views</a>
      </li>
      <li>
        <a href="#models" class="block py-2 px-4 text-sm">Models</a>
      </li>
      <li>
        <a href="#template-syntax" class="block py-2 px-4 text-sm"
          >Template Syntax</a
        >
      </li>
      <li>
        <a href="#components" class="block py-2 px-4 text-sm0">Components</a>
      </li>
    </ul>
  </div>
</nav>
